html {
    margin:0;
    height:100%;
}

body {
    margin:0;
    height:100%;
}

img {
  height: 540px;
  width: 435px;
  object-fit: fill;
  padding: 10px;
  margin-top: 0;
  margin-left: 20px;
  margine-right: 20px;
}

iframe {
  position: relative;
  justify-content: center;
  border: none;
  display:block;
  line-height: 0;
}


/* Navigation Bar */
.navbar-light .navbar-brand {
  color: #ffff;
  font: 40px/43px 'Helvetica Neue', Arial, Helvetica, sans-serif;
}

.authors {
  color: #ffff;
  font: 15px/17px 'Helvetica Neue', Arial, Helvetica, sans-serif;
  text-align: right;
  margin: 0px;
}

.navbarSupportedContent .collapse .navbar-collapse {
  text-align: right !important;
}

.bg-light {
  background-color:#000000 !important;
}

.svg-container {
  width: 100% !important;
  height:100px;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 3px;
}


/*Stying*/
/*
.intro-text {
  font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
}
*/

h4 {
  text-align:center;
}
h5 {
  padding-bottom:0px;
}

.text-box {
  text-align:center;
  font: 20px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
  margin: 0 auto;
  padding-bottom: 10px;
  padding-left: 40px;
  padding-right: 40px;
}

.title-text {
  text-align:center;
  margin: 0 auto;
  padding: 0px;
}

.img-box1 {
  width:auto;
  height:auto;
  left: 0;
  top: 300px;
  display: block;
  margin: 0 auto;
  text-align: center;
  padding-left: 50px;
  padding-right: 10px;
}

.img-box2 {
  width:1020px;
  left: 0;
  top: 300px;
  display: block;
  margin: 0 auto;
  text-align: center;
  padding-left: 20px;
  padding-right: 10px;
}


.main-box {
  position: relative;
  display: inline-block;
  font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
  margin: 0 auto;
  padding: 10px;
  background-color: #2dc4b2;
  border-radius: 3px;
  width: 70%;
  height: 50px;
  text-align: center;
}


.image-container {
  text-align: center;
}

.chart1 {
  width:100%;
  height: 400px;

}
.chart2 {
  width:100%;
  height:900px;
}



//
